{
    "openapi": "3.0.1",
    "info": {
        "title": "TC.CloudGames Game",
        "description": "API for TC.CloudGames",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://fiap-apigtw-tc-cloud-games.azure-api.net/api/game"
        }
    ],
    "paths": {
        "/search/advanced": {
            "post": {
                "tags": [
                    "Game"
                ],
                "summary": "Advanced game search with filters",
                "description": "This endpoint provides advanced search capabilities with support for filtering by genre, platform, price range, rating, release date, and sorting options.",
                "operationId": "AdvancedSearchGamesEndpoint",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TCCloudGamesGamesApiEndpointsAdvancedSearchRequest"
                            },
                            "example": {
                                "query": "string",
                                "genres": [
                                    "string"
                                ],
                                "platforms": [
                                    "string"
                                ],
                                "minPrice": 0,
                                "maxPrice": 0,
                                "minRating": 0,
                                "releaseDateFrom": "string",
                                "releaseDateTo": "string",
                                "size": 0,
                                "from": 0,
                                "sortBy": "string",
                                "sortDirection": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/": {
            "post": {
                "tags": [
                    "Game"
                ],
                "summary": "Endpoint for creating a new game.",
                "description": "This endpoint allows for the creation of a new game by providing its name, description, and other relevant details. Upon successful creation, a new game is added to the system.",
                "operationId": "CreateGameEndpoint",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesCreateGameCreateGameCommand"
                            },
                            "example": {
                                "name": "Game Name",
                                "releaseDate": "2025-10-02",
                                "ageRating": "Choose one of valid age rate: 'M', 'E10+', 'E', 'T', 'A', 'RP'",
                                "description": "Game Description",
                                "developerInfo": {
                                    "developer": "Developer Name",
                                    "publisher": "Publisher Name"
                                },
                                "diskSize": 50,
                                "price": 59.99,
                                "playtime": {
                                    "hours": 10,
                                    "playerCount": 1
                                },
                                "gameDetails": {
                                    "genre": "Genre",
                                    "platforms": [
                                        "VR (Oculus Quest)",
                                        "PlayStation Vita",
                                        "macOS",
                                        "Nintendo Switch",
                                        "Stadia",
                                        "PC",
                                        "PlayStation 4",
                                        "iOS",
                                        "Steam Deck",
                                        "PlayStation 5",
                                        "Wii U",
                                        "Linux",
                                        "VR (PlayStation VR)",
                                        "Nintendo 3DS",
                                        "Android",
                                        "VR (HTC Vive)",
                                        "Xbox Series X|S",
                                        "Xbox One",
                                        "Browser"
                                    ],
                                    "tags": "Tags",
                                    "gameMode": "Choose one of valid game modes: 'Sandbox', 'Casual', 'Multiplayer', 'PvP', 'PvE', 'Survival', 'Battle Royale', 'Co-op', 'Singleplayer'",
                                    "distributionFormat": "Choose one of valid distribution format: 'Digital', 'Physical'",
                                    "availableLanguages": "Available Languages",
                                    "supportsDlcs": true
                                },
                                "systemRequirements": {
                                    "minimum": "Minimum Requirements",
                                    "recommended": "Recommended Requirements"
                                },
                                "rating": 4.5,
                                "officialLink": "https://example.com",
                                "gameStatus": "Choose one of valid game status: 'Discontinued', 'Available', 'In Development', 'Released', 'Early Access', 'Soon'"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Returned when a new game is successfully created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesCreateGameCreateGameResponse"
                                },
                                "example": {
                                    "id": "2402f614-7387-4717-b15a-1c68c828c459",
                                    "name": "Game Name",
                                    "releaseDate": "2025-10-02",
                                    "ageRating": "M",
                                    "description": "Game Description",
                                    "developerInfo": {
                                        "developer": "Developer Name",
                                        "publisher": "Publisher Name"
                                    },
                                    "diskSize": 50,
                                    "price": 59.99,
                                    "playtime": {
                                        "hours": 10,
                                        "playerCount": 1
                                    },
                                    "gameDetails": {
                                        "genre": "Genre",
                                        "platforms": [
                                            "VR (Oculus Quest)",
                                            "PlayStation Vita",
                                            "macOS",
                                            "Nintendo Switch",
                                            "Stadia",
                                            "PC",
                                            "PlayStation 4",
                                            "iOS",
                                            "Steam Deck",
                                            "PlayStation 5",
                                            "Wii U",
                                            "Linux",
                                            "VR (PlayStation VR)",
                                            "Nintendo 3DS",
                                            "Android",
                                            "VR (HTC Vive)",
                                            "Xbox Series X|S",
                                            "Xbox One",
                                            "Browser"
                                        ],
                                        "tags": "Tags",
                                        "gameMode": "Sandbox",
                                        "distributionFormat": "Digital",
                                        "availableLanguages": "Available Languages",
                                        "supportsDlcs": true
                                    },
                                    "systemRequirements": {
                                        "minimum": "Minimum Requirements",
                                        "recommended": "Recommended Requirements"
                                    },
                                    "rating": 4.5,
                                    "officialLink": "https://example.com",
                                    "gameStatus": "Discontinued"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when a bad request occurs.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FastEndpointsProblemDetails"
                                },
                                "example": {
                                    "type": "https://www.rfc-editor.org/rfc/rfc7231#section-6.5.1",
                                    "title": "One or more validation errors occurred.",
                                    "status": 400,
                                    "instance": "/api/route",
                                    "traceId": "0HMPNHL0JHL76:00000001",
                                    "detail": "string",
                                    "errors": [
                                        {
                                            "name": "Error or field name",
                                            "reason": "Error reason",
                                            "code": "string",
                                            "severity": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Returned when the request is made without a valid user token."
                    },
                    "403": {
                        "description": "Returned when the caller lacks the required role to access this endpoint."
                    }
                }
            },
            "get": {
                "tags": [
                    "Game"
                ],
                "summary": "Retrieves a paginated list of games based on the provided filters.",
                "description": "Retrieves a paginated list of games based on the provided filters.",
                "operationId": "GetGameListEndpoint",
                "parameters": [
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        },
                        "example": 10
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "id"
                        },
                        "example": "id"
                    },
                    {
                        "name": "sortDirection",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "asc"
                        },
                        "example": "asc"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "<any value/field>"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when the game list is successfully retrieved using the specified filters.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesGetGameListGameListResponse"
                                },
                                "example": [
                                    {
                                        "id": "5cfa14a5-c8d4-4f74-a587-167124fe6d9c",
                                        "name": "Handcrafted Frozen Bacon",
                                        "releaseDate": "2025-03-20",
                                        "ageRating": "RP",
                                        "description": "Accusantium quae voluptates modi alias architecto. Unde laudantium ipsum iure occaecati quidem quaerat voluptas aut. Esse illum et sit quis nobis.",
                                        "developerInfo": {
                                            "developer": "Ratke Group",
                                            "publisher": "Crist Group"
                                        },
                                        "diskSize": 19,
                                        "price": 87.2,
                                        "playtime": {
                                            "hours": 3,
                                            "playerCount": 1456
                                        },
                                        "gameDetails": {
                                            "genre": "Clothing",
                                            "tags": "ea, asperiores, blanditiis, nobis, et",
                                            "gameMode": "Battle Royale",
                                            "distributionFormat": "Physical",
                                            "availableLanguages": "French, Japanese",
                                            "supportsDlcs": false,
                                            "platforms": [
                                                "VR (Oculus Quest)",
                                                "Linux",
                                                "iOS",
                                                "PC",
                                                "Xbox Series X|S",
                                                "PlayStation Vita",
                                                "Android",
                                                "Nintendo Switch",
                                                "Nintendo 3DS",
                                                "VR (PlayStation VR)",
                                                "PlayStation 4",
                                                "Steam Deck",
                                                "Browser",
                                                "Stadia"
                                            ]
                                        },
                                        "systemRequirements": {
                                            "minimum": "Et ad et.",
                                            "recommended": "Ullam quibusdam ut reprehenderit aut recusandae voluptate."
                                        },
                                        "rating": 6.57,
                                        "officialLink": "http://naomi.info",
                                        "gameStatus": "Released"
                                    },
                                    {
                                        "id": "4e223d01-d7ca-4534-9fe9-a216b99d8025",
                                        "name": "Intelligent Granite Bacon",
                                        "releaseDate": "2025-05-21",
                                        "ageRating": "A",
                                        "description": "Est delectus molestiae. Repellat ut aut ut. Laudantium hic aut omnis quia et et non. Eligendi optio quis eum incidunt quibusdam soluta.",
                                        "developerInfo": {
                                            "developer": "Mayer, Cremin and Okuneva",
                                            "publisher": "Feil LLC"
                                        },
                                        "diskSize": 114,
                                        "price": 95.82,
                                        "playtime": {
                                            "hours": 89,
                                            "playerCount": 540
                                        },
                                        "gameDetails": {
                                            "genre": "Computers",
                                            "tags": "sint, rerum, minus, minima, minima",
                                            "gameMode": "Casual",
                                            "distributionFormat": "Digital",
                                            "availableLanguages": "Spanish, English, French, Japanese",
                                            "supportsDlcs": false,
                                            "platforms": [
                                                "Xbox Series X|S",
                                                "PlayStation Vita",
                                                "PlayStation 4",
                                                "Xbox One",
                                                "VR (Oculus Quest)",
                                                "PC",
                                                "Nintendo 3DS",
                                                "Stadia",
                                                "Wii U",
                                                "Nintendo Switch",
                                                "PlayStation 5",
                                                "VR (PlayStation VR)",
                                                "Android",
                                                "Browser",
                                                "iOS",
                                                "macOS",
                                                "Linux",
                                                "Steam Deck",
                                                "VR (HTC Vive)"
                                            ]
                                        },
                                        "systemRequirements": {
                                            "minimum": "Aspernatur perferendis provident.",
                                            "recommended": "Cumque qui non."
                                        },
                                        "rating": 6.59,
                                        "officialLink": "https://selmer.info",
                                        "gameStatus": "Released"
                                    },
                                    {
                                        "id": "2ba59664-cc61-4204-be67-060e168c5219",
                                        "name": "Tasty Metal Table",
                                        "releaseDate": "2025-07-10",
                                        "ageRating": "RP",
                                        "description": "Sed quod sit in incidunt fugit est. Odio ea quia laborum vitae. Distinctio possimus quos in totam est in enim. Itaque inventore sint vero sint cum quod quis sequi. Ut ducimus temporibus molestiae voluptatibus quaerat nulla.",
                                        "developerInfo": {
                                            "developer": "Breitenberg, Mayert and Parker",
                                            "publisher": "Hermann - Auer"
                                        },
                                        "diskSize": 120,
                                        "price": 46.42,
                                        "playtime": {
                                            "hours": 17,
                                            "playerCount": 1635
                                        },
                                        "gameDetails": {
                                            "genre": "Tools",
                                            "tags": "sunt, dolores, expedita, iste, ut",
                                            "gameMode": "Multiplayer",
                                            "distributionFormat": "Digital",
                                            "availableLanguages": "English, French",
                                            "supportsDlcs": true,
                                            "platforms": [
                                                "Steam Deck",
                                                "PlayStation 4",
                                                "Xbox One",
                                                "macOS",
                                                "VR (PlayStation VR)",
                                                "Android",
                                                "VR (HTC Vive)",
                                                "Browser",
                                                "PC",
                                                "iOS"
                                            ]
                                        },
                                        "systemRequirements": {
                                            "minimum": "Odit qui amet et.",
                                            "recommended": "Dolore dignissimos placeat nostrum et."
                                        },
                                        "rating": 7.1,
                                        "officialLink": "http://deshawn.org",
                                        "gameStatus": "Early Access"
                                    },
                                    {
                                        "id": "49c6f87f-1db3-4517-ad1b-1ddb05bed855",
                                        "name": "Intelligent Frozen Soap",
                                        "releaseDate": "2025-02-03",
                                        "ageRating": "RP",
                                        "description": "Quis odio delectus voluptatem dolorem et. Totam occaecati qui labore. Nihil nostrum sit praesentium labore. Harum aut ut quo.",
                                        "developerInfo": {
                                            "developer": "Sanford and Sons",
                                            "publisher": "Kunze - Cronin"
                                        },
                                        "diskSize": 22,
                                        "price": 58.77,
                                        "playtime": {
                                            "hours": 36,
                                            "playerCount": 1874
                                        },
                                        "gameDetails": {
                                            "genre": "Movies",
                                            "tags": "corporis, sapiente, sapiente, consectetur, voluptatum",
                                            "gameMode": "Co-op",
                                            "distributionFormat": "Digital",
                                            "availableLanguages": "Spanish, English, German",
                                            "supportsDlcs": true,
                                            "platforms": [
                                                "macOS",
                                                "Linux",
                                                "Xbox Series X|S",
                                                "VR (Oculus Quest)",
                                                "Nintendo 3DS",
                                                "PC",
                                                "Wii U",
                                                "Stadia",
                                                "Nintendo Switch",
                                                "Steam Deck",
                                                "Android",
                                                "PlayStation 5",
                                                "VR (PlayStation VR)",
                                                "Browser",
                                                "Xbox One",
                                                "PlayStation Vita",
                                                "VR (HTC Vive)",
                                                "PlayStation 4",
                                                "iOS"
                                            ]
                                        },
                                        "systemRequirements": {
                                            "minimum": "Molestiae et alias.",
                                            "recommended": "Est et sint placeat amet vel tempora amet."
                                        },
                                        "rating": 2.49,
                                        "officialLink": "http://chaim.com",
                                        "gameStatus": "Early Access"
                                    },
                                    {
                                        "id": "2622b893-52b4-4767-85be-e66a9acfe655",
                                        "name": "Sleek Frozen Keyboard",
                                        "releaseDate": "2025-01-06",
                                        "ageRating": "RP",
                                        "description": "Dolores porro asperiores quia tempore aut non id quidem. Quia dolore dolorum. Nostrum velit voluptas quisquam voluptatem. Sapiente quibusdam adipisci et iusto voluptate. Amet blanditiis molestiae consequatur et et et inventore cumque velit. Ut quo ex itaque dolore.",
                                        "developerInfo": {
                                            "developer": "Shields - Wisozk",
                                            "publisher": "Nitzsche Inc"
                                        },
                                        "diskSize": 131,
                                        "price": 18.65,
                                        "playtime": {
                                            "hours": 17,
                                            "playerCount": 316
                                        },
                                        "gameDetails": {
                                            "genre": "Electronics",
                                            "tags": "tempore, aliquam, numquam, labore, qui",
                                            "gameMode": "Casual",
                                            "distributionFormat": "Physical",
                                            "availableLanguages": "German, French, English, Japanese",
                                            "supportsDlcs": true,
                                            "platforms": [
                                                "Linux"
                                            ]
                                        },
                                        "systemRequirements": {
                                            "minimum": "Deleniti suscipit iste iusto.",
                                            "recommended": "Dolore perspiciatis placeat adipisci saepe neque."
                                        },
                                        "rating": 8.08,
                                        "officialLink": "https://reyna.info",
                                        "gameStatus": "Released"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the request contains invalid parameters.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FastEndpointsProblemDetails"
                                },
                                "example": {
                                    "type": "https://www.rfc-editor.org/rfc/rfc7231#section-6.5.1",
                                    "title": "One or more validation errors occurred.",
                                    "status": 400,
                                    "instance": "/api/route",
                                    "traceId": "0HMPNHL0JHL76:00000001",
                                    "detail": "string",
                                    "errors": [
                                        {
                                            "name": "Error or field name",
                                            "reason": "Error reason",
                                            "code": "string",
                                            "severity": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Returned when the request is made without a valid game token."
                    },
                    "403": {
                        "description": "Returned when the logged-in game lacks the required role to access this endpoint."
                    }
                }
            }
        },
        "/{id}": {
            "get": {
                "tags": [
                    "Game"
                ],
                "summary": "Retrieve game details by its unique identifier.",
                "description": "This endpoint retrieves detailed information about a game by its unique Id. Access is restricted to users with the appropriate roles.",
                "operationId": "GetGameByIdEndpoint",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "guid"
                        },
                        "example": "6a5c5527-1c2a-4344-b5f7-c771c137c8e4"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when game information is successfully retrieved.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesGetGameByIdGameByIdResponse"
                                },
                                "example": {
                                    "id": "774f8853-048a-456b-835f-ef9310219b32",
                                    "name": "Game Name",
                                    "releaseDate": "2025-10-02",
                                    "ageRating": "M",
                                    "description": "Game Description",
                                    "developerInfo": {
                                        "developer": "Developer Name",
                                        "publisher": "Publisher Name"
                                    },
                                    "diskSize": 50,
                                    "price": 59.99,
                                    "playtime": {
                                        "hours": 10,
                                        "playerCount": 1
                                    },
                                    "gameDetails": {
                                        "genre": "Genre",
                                        "tags": "Tags",
                                        "gameMode": "Sandbox",
                                        "distributionFormat": "Digital",
                                        "availableLanguages": "Available Languages",
                                        "supportsDlcs": true,
                                        "platforms": [
                                            "VR (Oculus Quest)",
                                            "PlayStation Vita",
                                            "macOS",
                                            "Nintendo Switch",
                                            "Stadia",
                                            "PC",
                                            "PlayStation 4",
                                            "iOS",
                                            "Steam Deck",
                                            "PlayStation 5",
                                            "Wii U",
                                            "Linux",
                                            "VR (PlayStation VR)",
                                            "Nintendo 3DS",
                                            "Android",
                                            "VR (HTC Vive)",
                                            "Xbox Series X|S",
                                            "Xbox One",
                                            "Browser"
                                        ]
                                    },
                                    "systemRequirements": {
                                        "minimum": "Minimum Requirements",
                                        "recommended": "Recommended Requirements"
                                    },
                                    "rating": 4.5,
                                    "officialLink": "https://example.com",
                                    "gameStatus": "Discontinued"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the request is invalid.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FastEndpointsProblemDetails"
                                },
                                "example": {
                                    "type": "https://www.rfc-editor.org/rfc/rfc7231#section-6.5.1",
                                    "title": "One or more validation errors occurred.",
                                    "status": 400,
                                    "instance": "/api/route",
                                    "traceId": "0HMPNHL0JHL76:00000001",
                                    "detail": "string",
                                    "errors": [
                                        {
                                            "name": "Error or field name",
                                            "reason": "Error reason",
                                            "code": "string",
                                            "severity": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Returned when the request is made without a valid user token."
                    },
                    "403": {
                        "description": "Returned when the caller lacks the required role to access this endpoint."
                    },
                    "404": {
                        "description": "Returned when no game is found with the provided Id."
                    }
                }
            }
        },
        "/index": {
            "post": {
                "tags": [
                    "Game"
                ],
                "summary": "Index a single game to Elasticsearch",
                "description": "This endpoint allows for manual indexing of a single game document to the search index. Typically used for testing or troubleshooting purposes.",
                "operationId": "IndexGameEndpoint",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TCCloudGamesGamesApplicationAbstractionsProjectionsGameProjection"
                            },
                            "example": {
                                "id": "string",
                                "name": "string",
                                "releaseDate": "string",
                                "ageRating": "string",
                                "description": "string",
                                "developer": "string",
                                "publisher": "string",
                                "diskSizeInGb": 0,
                                "priceAmount": 0,
                                "genre": "string",
                                "platforms": [
                                    "string"
                                ],
                                "tags": "string",
                                "gameMode": "string",
                                "distributionFormat": "string",
                                "availableLanguages": "string",
                                "supportsDlcs": true,
                                "minimumSystemRequirements": "string",
                                "recommendedSystemRequirements": "string",
                                "playtimeHours": 0,
                                "playerCount": 0,
                                "ratingAverage": 0,
                                "officialLink": "string",
                                "gameStatus": "string",
                                "createdAt": "string",
                                "updatedAt": "string",
                                "isActive": true
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized - valid token required"
                    },
                    "403": {
                        "description": "Access denied - admin role required"
                    }
                }
            }
        },
        "/popular": {
            "get": {
                "tags": [
                    "Game"
                ],
                "summary": "Get popular games aggregation by genre",
                "description": "This endpoint returns aggregated data showing the most popular game genres with their respective game counts.",
                "operationId": "PopularGamesEndpoint",
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/purchase": {
            "post": {
                "tags": [
                    "Game"
                ],
                "summary": "Endpoint for purchasing a game.",
                "description": "This endpoint allows a user to purchase a game by providing the game ID and user ID. Upon successful purchase, a confirmation response is returned.",
                "operationId": "PurchaseGameEndpoint",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesPurchaseGamePurchaseGameCommand"
                            },
                            "example": {
                                "gameId": "1772e2cc-d5bd-4c41-9953-df20438a7823",
                                "paymentMethod": {
                                    "method": "credit_card",
                                    "cardLast4Digits": "9246"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Returned when a game is successfully purchased.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesPurchaseGamePurchaseGameResponse"
                                },
                                "example": {
                                    "userId": "75a12490-0fea-40c5-9f70-0388544f57f4",
                                    "gameId": "fd7499d8-fcba-4fc5-a309-3c946bd633e5",
                                    "paymentId": "778e9190-000d-4c41-88e7-19f52e3c219c",
                                    "amount": 59.99,
                                    "isApproved": false,
                                    "purchaseDate": "2025-10-02T01:17:07.0000000+00:00"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when a bad request occurs.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FastEndpointsProblemDetails"
                                },
                                "example": {
                                    "type": "https://www.rfc-editor.org/rfc/rfc7231#section-6.5.1",
                                    "title": "One or more validation errors occurred.",
                                    "status": 400,
                                    "instance": "/api/route",
                                    "traceId": "0HMPNHL0JHL76:00000001",
                                    "detail": "string",
                                    "errors": [
                                        {
                                            "name": "Error or field name",
                                            "reason": "Error reason",
                                            "code": "string",
                                            "severity": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Returned when the request is made without a valid user token."
                    },
                    "403": {
                        "description": "Returned when the caller lacks the required role to access this endpoint."
                    }
                }
            }
        },
        "/reindex": {
            "post": {
                "tags": [
                    "Game"
                ],
                "summary": "Reindex games from database to Elasticsearch",
                "description": "This endpoint reindexes all games from the database to the Elasticsearch index for search functionality. In Elasticsearch Cloud, indices are created automatically on first document.",
                "operationId": "ReindexGamesEndpoint",
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Access denied"
                    }
                }
            }
        },
        "/search": {
            "get": {
                "tags": [
                    "Game"
                ],
                "summary": "Search games using full-text search",
                "description": "This endpoint provides full-text search capabilities across game names, descriptions, genres, developers, and tags with fuzzy matching support.",
                "operationId": "SearchGamesEndpoint",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "TCCloudGamesGamesApiEndpointsAdvancedSearchRequest": {
                "required": [
                    "size",
                    "from",
                    "sortDirection"
                ],
                "type": "object",
                "properties": {
                    "query": {
                        "type": "string",
                        "nullable": true
                    },
                    "genres": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "nullable": true
                    },
                    "platforms": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "nullable": true
                    },
                    "minPrice": {
                        "type": "number",
                        "format": "decimal",
                        "nullable": true
                    },
                    "maxPrice": {
                        "type": "number",
                        "format": "decimal",
                        "nullable": true
                    },
                    "minRating": {
                        "type": "number",
                        "format": "decimal",
                        "nullable": true
                    },
                    "releaseDateFrom": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                    },
                    "releaseDateTo": {
                        "type": "string",
                        "format": "date",
                        "nullable": true
                    },
                    "size": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "from": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "sortBy": {
                        "type": "string",
                        "nullable": true
                    },
                    "sortDirection": {
                        "type": "string"
                    }
                },
                "additionalProperties": false
            },
            "TCCloudGamesGamesApplicationUseCasesCreateGameCreateGameResponse": {
                "required": [
                    "id",
                    "name",
                    "releaseDate",
                    "ageRating",
                    "developerInfo",
                    "diskSize",
                    "price",
                    "gameDetails",
                    "systemRequirements"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "guid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "releaseDate": {
                        "type": "string",
                        "format": "date"
                    },
                    "ageRating": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "developerInfo": {
                        "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesCreateGameDeveloperInfo"
                    },
                    "diskSize": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "price": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "playtime": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesCreateGamePlaytime"
                            }
                        ],
                        "nullable": true
                    },
                    "gameDetails": {
                        "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesCreateGameGameDetails"
                    },
                    "systemRequirements": {
                        "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesCreateGameSystemRequirements"
                    },
                    "rating": {
                        "type": "number",
                        "format": "decimal",
                        "nullable": true
                    },
                    "officialLink": {
                        "type": "string",
                        "nullable": true
                    },
                    "gameStatus": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "TCCloudGamesGamesApplicationUseCasesCreateGameDeveloperInfo": {
                "required": [
                    "developer"
                ],
                "type": "object",
                "properties": {
                    "developer": {
                        "type": "string"
                    },
                    "publisher": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "TCCloudGamesGamesApplicationUseCasesCreateGamePlaytime": {
                "type": "object",
                "properties": {
                    "hours": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    },
                    "playerCount": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "TCCloudGamesGamesApplicationUseCasesCreateGameGameDetails": {
                "required": [
                    "platforms",
                    "gameMode",
                    "distributionFormat",
                    "supportsDlcs"
                ],
                "type": "object",
                "properties": {
                    "genre": {
                        "type": "string",
                        "nullable": true
                    },
                    "platforms": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "tags": {
                        "type": "string",
                        "nullable": true
                    },
                    "gameMode": {
                        "type": "string"
                    },
                    "distributionFormat": {
                        "type": "string"
                    },
                    "availableLanguages": {
                        "type": "string",
                        "nullable": true
                    },
                    "supportsDlcs": {
                        "type": "boolean"
                    }
                },
                "additionalProperties": false
            },
            "TCCloudGamesGamesApplicationUseCasesCreateGameSystemRequirements": {
                "required": [
                    "minimum"
                ],
                "type": "object",
                "properties": {
                    "minimum": {
                        "type": "string"
                    },
                    "recommended": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "TCCloudGamesGamesApplicationUseCasesCreateGameCreateGameCommand": {
                "required": [
                    "name",
                    "releaseDate",
                    "ageRating",
                    "developerInfo",
                    "diskSize",
                    "price",
                    "gameDetails",
                    "systemRequirements"
                ],
                "type": "object",
                "properties": {
                    "name": {
                        "minLength": 1,
                        "type": "string",
                        "example": "Game Name"
                    },
                    "releaseDate": {
                        "minLength": 1,
                        "type": "string",
                        "format": "date",
                        "example": "2025-10-02"
                    },
                    "ageRating": {
                        "minLength": 1,
                        "type": "string",
                        "example": "Choose one of valid age rate: 'M', 'E10+', 'E', 'T', 'A', 'RP'"
                    },
                    "description": {
                        "maxLength": 2000,
                        "minLength": 0,
                        "type": "string",
                        "nullable": true,
                        "example": "Game Description"
                    },
                    "developerInfo": {
                        "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesCreateGameDeveloperInfo"
                    },
                    "diskSize": {
                        "type": "number",
                        "format": "decimal",
                        "example": 50
                    },
                    "price": {
                        "type": "number",
                        "format": "decimal",
                        "example": 59.99
                    },
                    "playtime": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesCreateGamePlaytime"
                            }
                        ],
                        "nullable": true,
                        "example": {
                            "hours": 10,
                            "playerCount": 1
                        }
                    },
                    "gameDetails": {
                        "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesCreateGameGameDetails"
                    },
                    "systemRequirements": {
                        "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesCreateGameSystemRequirements"
                    },
                    "rating": {
                        "maximum": 10,
                        "minimum": 0,
                        "type": "number",
                        "format": "decimal",
                        "nullable": true,
                        "example": 4.5
                    },
                    "officialLink": {
                        "maxLength": 200,
                        "minLength": 0,
                        "type": "string",
                        "nullable": true,
                        "example": "https://example.com"
                    },
                    "gameStatus": {
                        "maxLength": 200,
                        "minLength": 0,
                        "type": "string",
                        "nullable": true,
                        "example": "Choose one of valid game status: 'Discontinued', 'Available', 'In Development', 'Released', 'Early Access', 'Soon'"
                    }
                },
                "additionalProperties": false,
                "example": {
                    "name": "Game Name",
                    "releaseDate": "2025-10-02",
                    "ageRating": "Choose one of valid age rate: 'M', 'E10+', 'E', 'T', 'A', 'RP'",
                    "description": "Game Description",
                    "developerInfo": {
                        "developer": "Developer Name",
                        "publisher": "Publisher Name"
                    },
                    "diskSize": 50,
                    "price": 59.99,
                    "playtime": {
                        "hours": 10,
                        "playerCount": 1
                    },
                    "gameDetails": {
                        "genre": "Genre",
                        "platforms": [
                            "VR (Oculus Quest)",
                            "PlayStation Vita",
                            "macOS",
                            "Nintendo Switch",
                            "Stadia",
                            "PC",
                            "PlayStation 4",
                            "iOS",
                            "Steam Deck",
                            "PlayStation 5",
                            "Wii U",
                            "Linux",
                            "VR (PlayStation VR)",
                            "Nintendo 3DS",
                            "Android",
                            "VR (HTC Vive)",
                            "Xbox Series X|S",
                            "Xbox One",
                            "Browser"
                        ],
                        "tags": "Tags",
                        "gameMode": "Choose one of valid game modes: 'Sandbox', 'Casual', 'Multiplayer', 'PvP', 'PvE', 'Survival', 'Battle Royale', 'Co-op', 'Singleplayer'",
                        "distributionFormat": "Choose one of valid distribution format: 'Digital', 'Physical'",
                        "availableLanguages": "Available Languages",
                        "supportsDlcs": true
                    },
                    "systemRequirements": {
                        "minimum": "Minimum Requirements",
                        "recommended": "Recommended Requirements"
                    },
                    "rating": 4.5,
                    "officialLink": "https://example.com",
                    "gameStatus": "Choose one of valid game status: 'Discontinued', 'Available', 'In Development', 'Released', 'Early Access', 'Soon'"
                }
            },
            "FastEndpointsProblemDetails": {
                "required": [
                    "type",
                    "title",
                    "status",
                    "instance",
                    "traceId",
                    "errors"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "https://www.rfc-editor.org/rfc/rfc7231#section-6.5.1"
                    },
                    "title": {
                        "type": "string",
                        "default": "One or more validation errors occurred."
                    },
                    "status": {
                        "type": "integer",
                        "format": "int32",
                        "default": 400
                    },
                    "instance": {
                        "type": "string",
                        "default": "/api/route"
                    },
                    "traceId": {
                        "type": "string",
                        "default": "0HMPNHL0JHL76:00000001"
                    },
                    "detail": {
                        "type": "string",
                        "nullable": true
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FastEndpointsProblemDetails_Error"
                        }
                    }
                },
                "additionalProperties": false
            },
            "FastEndpointsProblemDetails_Error": {
                "required": [
                    "name",
                    "reason"
                ],
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "default": "Error or field name"
                    },
                    "reason": {
                        "type": "string",
                        "default": "Error reason"
                    },
                    "code": {
                        "type": "string",
                        "nullable": true
                    },
                    "severity": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "TCCloudGamesGamesApplicationUseCasesGetGameByIdGameByIdResponse": {
                "required": [
                    "id",
                    "name",
                    "releaseDate",
                    "ageRating",
                    "developerInfo",
                    "diskSize",
                    "price",
                    "gameDetails",
                    "systemRequirements"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "guid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "releaseDate": {
                        "type": "string",
                        "format": "date"
                    },
                    "ageRating": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "developerInfo": {
                        "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesGetGameByIdDeveloperInfo"
                    },
                    "diskSize": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "price": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "playtime": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesGetGameByIdPlaytime"
                            }
                        ],
                        "nullable": true
                    },
                    "gameDetails": {
                        "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesGetGameByIdGameDetails"
                    },
                    "systemRequirements": {
                        "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesGetGameByIdSystemRequirements"
                    },
                    "rating": {
                        "type": "number",
                        "format": "decimal",
                        "nullable": true
                    },
                    "officialLink": {
                        "type": "string",
                        "nullable": true
                    },
                    "gameStatus": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "TCCloudGamesGamesApplicationUseCasesGetGameByIdDeveloperInfo": {
                "required": [
                    "developer"
                ],
                "type": "object",
                "properties": {
                    "developer": {
                        "type": "string"
                    },
                    "publisher": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "TCCloudGamesGamesApplicationUseCasesGetGameByIdPlaytime": {
                "type": "object",
                "properties": {
                    "hours": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    },
                    "playerCount": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "TCCloudGamesGamesApplicationUseCasesGetGameByIdGameDetails": {
                "required": [
                    "gameMode",
                    "distributionFormat",
                    "supportsDlcs",
                    "platforms"
                ],
                "type": "object",
                "properties": {
                    "genre": {
                        "type": "string",
                        "nullable": true
                    },
                    "tags": {
                        "type": "string",
                        "nullable": true
                    },
                    "gameMode": {
                        "type": "string"
                    },
                    "distributionFormat": {
                        "type": "string"
                    },
                    "availableLanguages": {
                        "type": "string",
                        "nullable": true
                    },
                    "supportsDlcs": {
                        "type": "boolean"
                    },
                    "platforms": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "additionalProperties": false
            },
            "TCCloudGamesGamesApplicationUseCasesGetGameByIdSystemRequirements": {
                "required": [
                    "minimum"
                ],
                "type": "object",
                "properties": {
                    "minimum": {
                        "type": "string"
                    },
                    "recommended": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "TCCloudGamesGamesApplicationUseCasesGetGameListGameListResponse": {
                "required": [
                    "id",
                    "name",
                    "releaseDate",
                    "ageRating",
                    "developerInfo",
                    "diskSize",
                    "price",
                    "gameDetails",
                    "systemRequirements"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "guid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "releaseDate": {
                        "type": "string",
                        "format": "date"
                    },
                    "ageRating": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "developerInfo": {
                        "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesGetGameByIdDeveloperInfo"
                    },
                    "diskSize": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "price": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "playtime": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesGetGameByIdPlaytime"
                            }
                        ],
                        "nullable": true
                    },
                    "gameDetails": {
                        "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesGetGameByIdGameDetails"
                    },
                    "systemRequirements": {
                        "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesGetGameByIdSystemRequirements"
                    },
                    "rating": {
                        "type": "number",
                        "format": "decimal",
                        "nullable": true
                    },
                    "officialLink": {
                        "type": "string",
                        "nullable": true
                    },
                    "gameStatus": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "TCCloudGamesGamesApplicationAbstractionsProjectionsGameProjection": {
                "required": [
                    "id",
                    "name",
                    "releaseDate",
                    "ageRating",
                    "developer",
                    "diskSizeInGb",
                    "priceAmount",
                    "platforms",
                    "gameMode",
                    "distributionFormat",
                    "supportsDlcs",
                    "minimumSystemRequirements",
                    "createdAt",
                    "isActive"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "guid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "releaseDate": {
                        "type": "string",
                        "format": "date"
                    },
                    "ageRating": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "developer": {
                        "type": "string"
                    },
                    "publisher": {
                        "type": "string",
                        "nullable": true
                    },
                    "diskSizeInGb": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "priceAmount": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "genre": {
                        "type": "string",
                        "nullable": true
                    },
                    "platforms": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "tags": {
                        "type": "string",
                        "nullable": true
                    },
                    "gameMode": {
                        "type": "string"
                    },
                    "distributionFormat": {
                        "type": "string"
                    },
                    "availableLanguages": {
                        "type": "string",
                        "nullable": true
                    },
                    "supportsDlcs": {
                        "type": "boolean"
                    },
                    "minimumSystemRequirements": {
                        "type": "string"
                    },
                    "recommendedSystemRequirements": {
                        "type": "string",
                        "nullable": true
                    },
                    "playtimeHours": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    },
                    "playerCount": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    },
                    "ratingAverage": {
                        "type": "number",
                        "format": "decimal",
                        "nullable": true
                    },
                    "officialLink": {
                        "type": "string",
                        "nullable": true
                    },
                    "gameStatus": {
                        "type": "string",
                        "nullable": true
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "isActive": {
                        "type": "boolean"
                    }
                },
                "additionalProperties": false
            },
            "TCCloudGamesGamesApplicationUseCasesPurchaseGamePurchaseGameResponse": {
                "required": [
                    "userId",
                    "gameId",
                    "paymentId",
                    "amount",
                    "isApproved",
                    "purchaseDate"
                ],
                "type": "object",
                "properties": {
                    "userId": {
                        "type": "string",
                        "format": "guid"
                    },
                    "gameId": {
                        "type": "string",
                        "format": "guid"
                    },
                    "paymentId": {
                        "type": "string",
                        "format": "guid"
                    },
                    "amount": {
                        "type": "number",
                        "format": "decimal"
                    },
                    "isApproved": {
                        "type": "boolean"
                    },
                    "purchaseDate": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "additionalProperties": false
            },
            "TCCloudGamesGamesApplicationUseCasesPurchaseGamePurchaseGameCommand": {
                "required": [
                    "gameId",
                    "paymentMethod"
                ],
                "type": "object",
                "properties": {
                    "gameId": {
                        "minLength": 1,
                        "type": "string",
                        "format": "guid",
                        "example": "1772e2cc-d5bd-4c41-9953-df20438a7823"
                    },
                    "paymentMethod": {
                        "$ref": "#/components/schemas/TCCloudGamesGamesApplicationUseCasesPurchaseGamePaymentMethod"
                    }
                },
                "additionalProperties": false,
                "example": {
                    "gameId": "1772e2cc-d5bd-4c41-9953-df20438a7823",
                    "paymentMethod": {
                        "method": "credit_card",
                        "cardLast4Digits": "9246"
                    }
                }
            },
            "TCCloudGamesGamesApplicationUseCasesPurchaseGamePaymentMethod": {
                "required": [
                    "method"
                ],
                "type": "object",
                "properties": {
                    "method": {
                        "type": "string"
                    },
                    "cardLast4Digits": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "Ocp-Apim-Subscription-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "subscription-key",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ]
}