{
  "subscriptionId": "583551b5-35d9-4328-a89a-b916bbf8652d",
  "resourceGroup": "tc-cloudgames-solution-dev-rg",
  "location": "brazilsouth",
  "logAnalyticsWorkspaceId": "<LOG_ANALYTICS_WORKSPACE_ID>",
  "keyVaultName": "tccloudgamesdevwox7kv",
  "tags": {
    "Environment": "dev",
    "Project": "TC Cloud Games",
    "ManagedBy": "azd",
    "Owner": "DevOps Team",
    "CostCenter": "Engineering",
    "Workspace": "azd-dev",
    "Provider": "Azure"
  }
}