apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: user-api
  labels:
    app.kubernetes.io/name: user-api
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
    - host: cloudgames.local
      http:
        paths:
          - path: /user
            pathType: Prefix
            backend:
              service:
                name: user-api
                port:
                  number: 8080