apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: games-api
  labels:
    app.kubernetes.io/name: games-api
    app.kubernetes.io/component: games
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: games-api
