apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: payments-api
  labels:
    app.kubernetes.io/name: payments-api
    app.kubernetes.io/component: payments
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: payments-api
